<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--
PRP_FMS:
@author Aswini A.
-->
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">projectfms</property>
    <property name="hibernate.connection.password">projectfms</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="login.hbm.xml"/>
    <mapping resource="leave.hbm.xml"/>
    <mapping resource="answer.hbm.xml"/>
    <mapping resource="content.hbm.xml"/>
    <mapping resource="question.hbm.xml"/>
    <mapping resource="trainingSchedule.hbm.xml"/>
    <mapping resource="minimumWorkingPeriod.hbm.xml"/>
    <mapping resource="taskBean.hbm.xml"/>
    <mapping resource="trainer.hbm.xml"/>
    <mapping resource="defaultMWP.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
