.right{
	margin-left: 1100px;
}
.down{
	margin-top: 50px;
}
.center{
    margin-top: 150px;
    margin-left:300px;
}
.table-center
{ margin-top: 150px;
    margin-left: 50px;
}
.table-center1
{ margin-top: 10px;
    margin-left: 50px;
}
.navbar-center{
	margin-left: 400px;
}