.navbar-center{
	margin-left: 400px;
}
.center{
    margin-top: 150px;
    margin-left:230px;
}
.down{
	margin-top: 50px;
}
.height
{
    height:10cm;
}
.table-center
{ margin-top: 150px;
    margin-left: 50px;
}
.table-center1
{ margin-top: 10px;
    margin-left: 50px;
}
.down1
{
    margin-top: 200px;
}